body,html{
height: 100%;	
width: 100%;	
padding: 0;
margin: 0;
overflow:hidden;
}

canvas {
	z-index: -1;
	background: 	#131862; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, 	#131862, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, 	#131862, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, 	#131862, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, 	#131862, #000); /* Standard syntax */
}

.wrapper {
	position: absolute;
	line-height: 25px;
	opacity: 0.1;
	margin-top:10px;
}
label {
	color: white;
	font-size: 20px ;
}
.input {
	-webkit-appearance: none;
	width: 275px;	
	height: 25px;	
	background-color: #777;	
	outline: none;
	border-radius: 20px;
}

.wrapper:hover {
	opacity: 0.85;

}

.wrapper:hover .input {
	box-shadow: 1px 1px 5px white, -1px -1px 5px white;
}
.input::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background:#131862;
}

.input::-moz-range-thumb {
	appearance:none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.velocityDivisor {
}

.particleCount {
	top: 25px;
}

.starDistance {
	top: 50px;
}

.mouseDistance {
	top: 75px;
}

#velocityDivisor {
	margin: 0px 46px;
}

#particleCount {
	margin: 0px 43px;
}

#starDistance {
	margin: 0px 52px;
}

#mouseDistance {
	margin: 0px 30px;
}